# Gradle
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# Other tools
.dbeaver/

# OS
.DS_Store
Thumbs.db

# Runtime artifacts produced while running/testing the app
*.huff
test.x
